h1{
    text-align: center;
}

.barras{
    background-color: black;
    color: white;
}

.arriba{
    display: -webkit-inline-box;
    margin-right: 15%;
    margin-left: 30px;
}

.lateral{
    display: block;
    padding-right: 75%;
}